@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
}

body {
  background-color: $lightGray;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  height: 100vh;
  font-size: 1rem;
}

p {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;

  .flex-item-full {
    flex: 100%;
  }
}


@include responsive(xs) {
  .container {
    max-width: $xs;
  }
}
@include responsive(sm) {
  .container {
    max-width: $sm;
  }
}
@include responsive(md) {
  .container {
    max-width: $md;
  }
}
@include responsive(lg) {
  .container {
    max-width: $lg;
  }
}
@include responsive(xl) {
  .container {
    max-width: $xl;
  }
}
@include responsive(xxl) {
  .container {
    max-width: $xxl;
  }
}

